<!--The content below is only a placeholder and can be replaced.-->
<script src="../main.ts"></script>
<div class="container-fluid">
  <div class="jumbotron">
  </div>

  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Who Am I?</h1>
          <img width="100px" alt="me" src="../assets/images/bitmoji.png">
          <p class="text-h3">Hi and welcome to my site! My name is Amy and I am a software engineer. I focus primarily on web development but
            have also worked on mobile apps. I am passionate about learning new technologies, encouraging women and girls to fall in love with tech,
            and traveling the world. <i class="fa fa-plane"></i></p>
        </div>
      </div>
    </div>

    <div class="row text-center top">
      <div class="col">
        <h1>
          <a href="https://twitter.com/amy_hartz" target="_blank" rel="noopener">
            <i alt="Twitter" title="Twitter" class="fa fa-twitter"></i>
          </a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/amyhartzog/" alt="LinkedIn" target="_blank" rel="noopener">
            <i alt="LinkedIn" title="LinkedIn" class="fa fa-linkedin"></i>
          </a>&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/amyhartz" alt="GitHub" target="_blank" rel="noopener">
            <i alt="Github" title="Github" class="fa fa-github"></i>
          </a>
        </h1>
      </div>
    </div>
  </section>

  <section class="fdb-block bg-grey">
    <div class="container">
      <h2><i class="fa fa-laptop"></i>&nbsp; Experience</h2>
      <h4>Software Engineer @ Asymmetrik</h4>
      <h5>February 2019 - Present</h5>
      <div class="row">
        <div class="col col-sm-10 col-md-8 text-left">
          <p class="text-h3">
            I am currently a full stack developer working to ensure high quality products for our customers. I work on a small, agile development team
            building a web application with Angular and NodeJs and a backend written in Scala/Akka. Additionally, our team uses popular devops tools
            like Ansible and Terraform to embrace CI/CD and move towards fully immutable infrastructure.
          </p>
        </div>
      </div>

      <br/>

      <h4>Software Engineer @ Cigna</h4>
      <h5>July 2014 - January 2019</h5>
      <div class="row">
        <div class="col col-sm-10 col-md-8 text-left">
          <p class="text-h3">
            I worked as the tech lead and lead developer for a social fitness competition web application. This site allows participants to track active minutes
            manually or using wearable devices and compete against co-workers as individuals or as part of a team. The site had over 30,000 users and
            was used in 16 countries around the world. My role involved leading a team of developers, helping to facilitate architectural decisions, interfacing with
            business partners, and writing lots of code.
          </p>

          <p class="text-h3">
            In addition to my project work, I was heavily involved in the technical community at Cigna. I mentored younger developers on my team and across
            the company, was involved in the planning committee for our internal technical conference, and co-led a group devoted to sharing information regarding
            single page web applications.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2><i class="fa fa-graduation-cap"></i>&nbsp; Education</h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12 col-sm-6">
          <img alt="image" width="300px" height="100px" src="../assets/images/vt.png" style="margin-bottom: 22px">
          <h4>Masters of Information Technology</h4>
          <div>Focus on security and big data</div>
        </div>

        <div class="col-12 col-sm-6 pt-4 pt-sm-0">
          <img alt="image"  width="300px" height="120px" src="../assets/images/loyola.png">
          <h4>B.S. Computer Science</h4>
          <div>Minor in Mathematics</div>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2><i class="fa fa-heart"></i>&nbsp; Technologies I Love</h2>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <a [attr.href]="tech.href" target="_blank" rel="noopener" [attr.title]="tech.title" *ngFor="let tech of techList">
            <img class="tech" [attr.src]="'../assets/images/' + tech.imageName" [attr.alt]="tech.altText">
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
