<!--The content below is only a placeholder and can be replaced.-->
<script src="../main.ts"></script>
<div class="container-fluid">
  <div class="jumbotron">
  </div>

  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Who Am I?</h1>
          <img width="100px" src="../assets/images/bitmoji.png">
          <p class="text-h3">Hi and welcome to my site! My name is Amy and I am a software engineer. I focus primarily on web development but
            have also worked on mobile apps. I am passionate about learning new technologies, encouraging women and girls to fall in love with tech,
            and traveling the world. <i class="fa fa-plane"></i></p>
        </div>
      </div>
    </div>

    <div class="row text-center top">
      <div class="col">
        <h1>
          <a href="https://twitter.com/amy_hartz" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/amyhartzog/" target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/amyhartz" target="_blank"><i class="fa fa-github"></i></a>
        </h1>
      </div>
    </div>
  </section>

  <section class="fdb-block bg-grey">
    <div class="container">
      <h2><i class="fa fa-laptop"></i>&nbsp; Experience</h2>
      <h5>Software Engineer @ Cigna</h5>
      <div class="row">
        <div class="col col-sm-10 col-md-8 text-left">
          <p class="text-h3">
            I am currently the tech lead and lead developer for a social fitness competition web application. This site allows participants to track active minutes
            manually or using wearable devices and compete against co-workers as individuals or as part of a team. The site currently has over 30,000 users and
            is used in 16 countries around the world. My role involves leading a team of developers, helping to facilitate architectural decisions, interfacing with
            business partners, and writing lots of code.
          </p>

          <p class="text-h3">
            In addition to my project work, I am heavily involved in the technical community at Cigna. I mentor younger developers on my team and across
            the company, am involved in the planning committee for our internal technical conference, and co-lead a group devoted to sharing information regarding
            single page web applications.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2><i class="fa fa-graduation-cap"></i>&nbsp; Education</h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12 col-sm-6">
          <img alt="image" width="300px" height="100px" src="../assets/images/vt.png" style="margin-bottom: 22px">
          <h4>Masters of Information Technology</h4>
          <div>Graduating in December 2018</div>
          <div>Focus on security and big data</div>
        </div>

        <div class="col-12 col-sm-6 pt-4 pt-sm-0">
          <img alt="image"  width="300px" height="120px" src="../assets/images/loyola.png">
          <h4>B.S. Computer Science</h4>
          <div>Minor in Mathematics</div>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2><i class="fa fa-heart"></i>&nbsp; Technologies I Love</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a href="https://angular.io/" target="_blank" title="Angular">
            <img class="tech" src="../assets/images/angular.svg" alt="angular">
          </a>
          <a href="https://getbootstrap.com/" target="_blank" title="Bootstrap">
            <img class="tech" src="../assets/images/bootstrap.png" alt="bootstrap">
          </a>
          <a href="https://projects.spring.io/spring-boot/" target="_blank" title="Spring Boot">
            <img class="tech" src="../assets/images/spring-boot-logo.png" alt="spring-boot">
          </a>
          <a href="https://www.javascript.com/" target="_blank" title="JavaScript">
            <img class="tech" src="../assets/images/javascript_logo.png" alt="javascript">
          </a>
          <a href="https://www.typescriptlang.org/" target="_blank" title="TypeScript">
            <img class="tech" src="../assets/images/typescript.png" alt="typescript">
          </a>
          <a href="https://sass-lang.com/" target="_blank" title="Sass">
            <img class="tech" src="../assets/images/sass.png" alt="sass">
          </a>
          <a href="http://groovy-lang.org/" target="_blank" title="Groovy">
            <img class="tech" src="../assets/images/groovy.png" alt="groovy">
          </a>
          <a href="https://angularjs.org/" target="_blank" title="AngularJs">
            <img class="tech" src="../assets/images/angularjs.png" alt="AngularJs">
          </a>
          <a href="https://www.mysql.com/" target="_blank" title="MySQL">
            <img class="tech" src="../assets/images/mysql.png" alt="MySQL">
          </a>
          <a href="https://aws.amazon.com/" target="_blank" title="AWS">
            <img class="tech" src="../assets/images/aws.png" alt="aws">
          </a>
          <a href="http://www.oracle.com/technetwork/java/index-138747.html" target="_blank" title="Java">
            <img class="tech" src="../assets/images/java.png" alt="Java">
          </a>
          <a href="https://developer.android.com/guide/index.html" target="_blank" title="Android">
            <img class="tech" src="../assets/images/android.png" alt="Android">
          </a>
          <a href="https://www.jetbrains.com/idea/" target="_blank" title="IntelliJ">
            <img class="tech" src="../assets/images/IntelliJ.png" alt="IntelliJ">
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
