$grey: #eee;

div.jumbotron {
  background-image: url('../assets/images/skydiving.jpg');
  background-position: 0% 21%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  color: white;
  height: 450px;
  text-shadow: black 0.1em 0.1em 0.1em;

  @media screen and (max-width: 600px) {
    height: 120px;
  }
}

.container-fluid {
  padding: 0;
}

.tech {
  margin-bottom: 10px;
  max-height: 80px;
  max-width: 100px;
}

a {
  padding: 1%;

  &:hover {
    text-decoration: none;
  }
}

.fdb-block {
  padding: 50px 0;
}

.bg-grey {
  background-color: $grey;
}

.center {
  text-align: center;
}
